#pai {
    width: 80%;
    height: 500px;
    border: solid 3px #000;
    margin: auto;
    display: flex;
    /* display:flex, deixa os
     filhos flexiveis para alterar a posição */
    justify-content: space-between;
    /* justify-content, separa os filhos */

    /* justify-content: space-evenly,
        tamanhos iguais entre os filhos
    */
    

     /* justify-content: space-around,
        separa com tamanho proporcional ao redor dos filhos
    */

        /* justify-content: space-between,
        separa com tamanho proporcional SOMENTE entre os filhos e entre
        as "paredes" e os filhos ficam sem espaço.
    */
    align-items: center;
    flex-direction: column;

    /* 
     flex-direction: column;, 
     muda o direcionamento colocando um filho abaixo do outro.
     */
}

.bola {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cor1 {
    background-color: red;
    /* align-self: start; */
    /* align-self: start;, ele mesmo para o 
    começo da div do pai */
}

.cor2 {
    background-color: blueviolet;
    /* align-self: center; */
      /* align-self: center;, ele mesmo para o 
    começo da div do pai */
}

.cor3 {
    background-color: green;
    /* align-self: end; */
      /* align-self: end;, ele mesmo para o 
    começo da div do pai */
}